/* .loader-container {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.placeholder {
  background-color: #000000; 
}

.loader {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l11 2s infinite;
}
@keyframes l11 {
  0% {
    background: conic-gradient(#f46c38 0, #0000 0);
  }
  12.5% {
    background: conic-gradient(#f46c38 45deg, #0000 46deg);
  }
  25% {
    background: conic-gradient(#f46c38 90deg, #0000 91deg);
  }
  37.5% {
    background: conic-gradient(#f46c38 135deg, #0000 136deg);
  }
  50% {
    background: conic-gradient(#f46c38 180deg, #0000 181deg);
  }
  62.5% {
    background: conic-gradient(#f46c38 225deg, #0000 226deg);
  }
  75% {
    background: conic-gradient(#f46c38 270deg, #0000 271deg);
  }
  87.5% {
    background: conic-gradient(#f46c38 315deg, #0000 316deg);
  }
  100% {
    background: conic-gradient(#f46c38 360deg, #0000 360deg);
  }
} */
