/* General Styling */

.container-project {
  margin: 0 auto;
  width: 100%; /* Or a specific width depending on your layout */
  max-width: 1200px; /* Optional: Set a max width for the container */
}

/* Grid Layout */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
  grid-template-rows: auto;
  gap: 30px;
  justify-content: center;
}

/* Project Card */
.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background: white;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* Image */
.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px 12px 0 0;
}

/* Overlay Effect */
.overlay {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 75%;
  background-color: rgb(35, 34, 34);
  color: white;
  display: flex;
  align-items: flex-start;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 10px;
}

.project-card:hover .overlay {
  opacity: 1;
}

/* Overlay Content */
.overlay-content {
  width: 100%;
  text-align: left;
}

.project-title {
  font-size: 13px;
  font-weight: bold;
}
.project-skills {
  font-size: 11px;
  font-style: italic;
}
.project-description {
  opacity: 0.7;
  font-size: 10px;
  overflow: hidden;
  transition: max-height 0.9s ease; /* Smooth transition */
}

.project-link {
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 8px;
  color: #64b5f6;
  text-decoration: none;
  font-weight: bold;
}

.project-link:hover {
  color: #42a5f5;
}
