/* General Styling */

.container-project {
  margin: 0 auto;
  text-align: center;
}

/* Grid Layout */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  justify-content: center;
}

/* Project Card */
.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background: white;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* Image */
.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px 12px 0 0;
}

/* Overlay Effect */
.overlay {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgb(35, 34, 34);
  color: white;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 20px;
}


.project-card:hover .overlay {
  opacity: 1;
}

/* Overlay Content */
.overlay-content {
  width: 90%;
  text-align: left;
  margin: 0;
}

.project-title {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.project-skills {
  font-size: 11px;
  line-height: 25px;
  margin: 0;
}
.project-description {
  opacity: 0.7;
  font-size: 11px;
}

.project-link {
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 8px;
  color: #64b5f6;
  text-decoration: none;
  font-weight: bold;
}

.project-link:hover {
  color: #42a5f5;
}
