::-webkit-selection {
  color: #fff;
  background: #7c7c7c;
}
::-moz-selection {
  color: #fff;
  background: #7c7c7c;
}
::selection {
  color: #fff;
  background: #7c7c7c;
}

#resume-section {
  padding: 2rem 0;
  clear: both;
}

/* @media screen and (max-width: 768px) {
  #resume-section {
    padding: 3rem 0;
  }
} */

.resume-heading-container {
  margin-bottom: 2rem;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

/* line */
.timeline:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #ffffff;
  left: 0;
  margin-left: 0px;
}
.timeline-container ul {
  padding: 0;
  line-height: 25px;
}

@media screen and (max-width: 768px) {
  .timeline:before {
    margin-left: -64px;
  }
}

.timeline-header-title h3 {
  display: inline-block;
  padding: 7px 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  background: #e6e6e6;
  border-radius: 4px;
  color: #000;
}

@media screen and (max-width: 768px) {
  .timeline-header-title h3 {
    float: left;
    margin: 0;
  }
}

.timeline > .timeline-item {
  margin-bottom: 20px;
  position: relative;
}

/* @media screen and (max-width: 768px) {
  .timeline > .timeline-item {
    margin-bottom: 4em;
  }
} */

.timeline > .timeline-item:before,
.timeline > .timeline-item:after {
  content: " ";
  display: table;
}

.timeline > .timeline-item:after {
  clear: both;
}

.timeline > .timeline-item > .timeline-panel {
  float: left;
  margin-bottom: 0;
  padding-left: 50px;
  border-radius: 4px;
}
.timeline > .timeline-item > .timeline-badge {
  color: #10a4f3;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  position: absolute;
  left: -10px;
  background-color: #ffffff;
  border-radius: 50%;
}

.timeline > .timeline-item > .timeline-badge i {
  display: table-cell;
  vertical-align: middle;
  height: 44px;
}

.timeline-item-left {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .timeline-item-left {
    text-align: left;
  }
}

.timeline-item-right > .timeline-panel {
  float: left;
  left: calc(53% + 10px);
}

.timeline-title {
  margin: 0;
}

.timeline-company,
.timeline-institution {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
  color: #bfbfbf;
  font-style: italic;
}

.timeline-panel-body > p {
  margin-bottom: 0;
}
.timeline-panel-body ul li {
}

@media (max-width: 762px) {
  .timeline:before {
    left: 65px;
  }
}

.timeline-header-title {
  display: flex;
  justify-content: center;
}

.heading {
  display: inline-block;
  padding: 7px 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  background: #e6e6e6;
  border-radius: 4px;
  color: #000;
  bottom: 30%;
}
