/* .about {
  padding-bottom:200px;
    background-color: #000000;
    color: #ffffff;
  }
  
  .about h2 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .about p {
    font-size: 1.2rem;
    margin: 0 auto;
  } */