.hero {
  display: flex; 
  background-color: black;
  color: white;
  padding: 0 100px; 
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap:350px;
  margin: 0;
  width: auto;
  overflow-x: hidden;
  
  
}
@media (max-width: 1080px) {
  .hero{
      padding: 0 40px;
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px; 
  }
}



.hero:after {
  
  display: table;
  clear: both;
}

.column-1{
  
  padding: 10px;
  box-sizing: border-box;
}
.column-2{
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  .column-2, .column-1 {
    width: 100%; 
    justify-content: center;
    align-items: center;
    gap:0px;

  }
}


.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 14px;
  height: 350px;
  width: 200px;
  justify-content: center;
  overflow: hidden;
  padding: 30px 20px;
  position: relative;
  background-color: white;
  color: black;
  border-radius: 16px;
  position:fixed ;
}
@media (max-width: 1080px) {
  .profile {
    position:relative;
    padding: 20px 150px;
    height: auto;
    }
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 16px; 
  justify-content: center;
}
.icons a{
  justify-content: space-between;
  color: #F46c38;
  text-decoration: none;
  font-size:large;
  padding-right: 20px;
}
.icons p{
  color:rgb(153, 143, 143);
  font-size: 13px;
}

.details {
  display: flex;
  flex-direction: column; 
}
@media (max-width: 1080px) {
  .details {
    justify-content: center;
    justify-items: center;
  }
  
}

.details h1 {
  font-size: 60px;
  line-height: 1;
  margin: 0;
}

.details h1 span {
  color: rgba(182, 180, 189, 0.2);
  font-size:60px;
}

.details p {
  max-width: 60rem;
  font-size:13px;
  color:var(--token-0cfe00f3-24b0-432c-968d-12e5103b3a36, #998f8f);
}

.profile .pic img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;

}

.profile h2 {
  font-size: 1rem;
  font-weight: bolder;
  margin: 0;
  padding-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.box{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
@media (max-width: 700px) {
.box{
  display: flex;
  flex-direction: column;
  gap: 0px;

}
}
.box p{
  display: flex;
  position: relative;
  width: 190px;
  height: 130px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  font-size: small;
}

.next a{
  color: white;  
  padding:2px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-style:solid;
  border-width: 1px;
  border-radius: 8px;
  width: 17px;
  height: 15px;
  font-size: 14px;
}
#color1{
  background-color: #F46c38;
  background-image: url("./box1.svg");

}
#color2{
  background-color: rgb(197, 255, 65);
  color: black;
  background-image: url("./box2.svg");
  background-repeat: repeat;
  background-size:200px 0px;  


  }
#arrow2{
  color: black;
}

.count{
  display: flex;
  flex-direction: row;
  gap: 100px;
  text-transform: uppercase;
  
}
.count p{
  width: 50px;
  font-size: 10px;
}
.count h2{
  font-size: 30px;
}
.count-1{
  line-height: 80%;
}

